.enquiryContainer{
    border: 1px solid #e6e6e6;
    margin-top: 30px;
    border-radius: 10px;
}
.enquiryHeading{
    padding-left: 100px;
    padding-top: 20px;
}
.form-controll{
    box-sizing: border-box;
    border: 1.5px solid #01d35a;
    border-radius: 40px;
    font-size: 16px;
    background-color: white !important;
    background-image: url(/search.png);
    background-position: 94%;
    background-repeat: no-repeat;
    padding: 24px 20px 24px 25px;
    outline: none;
    margin-top: 295px;
    background-size: 27px 27px;
    margin-bottom: 129px;
    margin-left: 93px;
    width: 565px !important;
    height: 55px;

}
.row{

    margin-left: 0% !important;
    margin-right: 0% !important;
}
.button-nav{
    display: inline-block;
    font-weight: 300;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 35px;
     margin-left: 220px;
    
   white-space: nowrap;

}