.enquiryContainer{
    border: 1px solid #e6e6e6;
    margin-top: 30px;
    border-radius: 10px;
}
.enquiryHeading{
    padding-left: 100px;
    padding-top: 20px;
}
.form-controll{
    box-sizing: border-box;
    border: 1.5px solid #01d35a;
    border-radius: 40px;
    font-size: 16px;
    background-color: white !important;
    background-image: url(/search.png);
    background-position: 94%;
    background-repeat: no-repeat;
    padding: 24px 20px 24px 25px;
    outline: none;
    margin-top: 290px;
    background-size: 27px 27px;
    margin-bottom: 129px;
    margin-left: 244px;
    width: 565px !important;
    height: 55px;

}