.paragraph{
text-align: center;
/* font: Regular 32px/39px Proxima Nova; */
letter-spacing: 0;
color: #242424;
opacity: 1;
}
.colhead{
    padding: 0 !important;
}
.prescription-button2{
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
    width: 50%;margin-left: 21%;
    margin-top: 51%;
    margin-bottom: 29px;
    background-color:white;
    border-radius: 42px !important;
    border: 1px solid grey;
    margin-left: 21%;
    margin-top: 51%;
    margin-bottom: 29px;
    font-size: 18px;
}

.prescription-button{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 1px solid grey;
    width: 50%;
    background-color: white;
    border-radius: 42px !important;
    margin-left: 21%;
}
.dummy{
    width: 735px;
    border: 2px solid #DCDCDC;
    padding: 90px;
    margin: 40px;
    height: 500px;
    border-radius: 11px;
  }
  .dummy-img{
     margin-top: 35px;
      margin-left: 27%;
      height: 220px;
      width: 220px;
  }

.tabReport{
    list-style-type: none;
    top: -26px;
    left: -17px;
    position: absolute;
    width: 100%;
}
.bottomTab{
background: #01D35A 0% 0% no-repeat padding-box;
opacity: 1;
height: 6px;
}

.buttonClass{
    background-color: transparent;
}

.pdf-loading{
    display : none !important;
}
.headingTag{
    font-weight: 100;
}

.loginForm{
    margin-left: 5%;
}

button:focus{
    outline:none !important;
}
.upload-report-button{
    font-size: 25px;
    color: #333328;
    margin-top: 10px;
    margin-left: 28%;
    margin-bottom:40px;
}
.uploader-button-modal{
    background-color: #01D35A;
    width: 85%;
    height: 35px;
    border-radius: 42px !important;
    color: white;
    border: none;
    margin-top: 15px;
    margin-left: 7%;
    margin-bottom: 7%;
}
.send-button-modal{
    background-color: white;
    width: 70%;
    height: 35px;
    border-radius: 42px !important;
    color: #7E7E7E;
    border: none;
    top: 25%;
    left: 7%;
    position: absolute;
     border: 1px solid #7E7E7E !important;
}

.downloadPlockr{
  color: #FFFFFF !important;
  width: 25% !important;
  border-radius:33px !important ;
  outline: none !important;
  background-color: #01d35a !important;
}

.plockr-app-login{
    font-size: 20px;
    margin-bottom: 7%;
}

.plockr-app-form{
    border: none !important;
    border-bottom: 1px solid #ACACAC !important;
    border-radius: 0px !important;
    resize: none
}

.fileName{
    text-align: center;
    padding-top: 5%;
}
.prescription-img{
    background-color: #A9E9F3;
    padding-bottom: 13%;
    margin-top: -15px;

}
.prescription-img1{
    width: 350px;
    height: 343px;
    margin-top: 15%;
    margin-left: 70px;
}

.form-control-app{
    display: block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;  
    
}
.plockrapp-button{
    background-color: #01d35a !important;
    color: white !important;
    width: 70% !important;
    border-radius:33px !important ;
    margin-top: 15px;
    outline:none !important;
}
.plockrapp-button:focus{
    outline:none !important;
    box-shadow: unset !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.row-align{
    margin-top: 13%;
}
.col-align{
    margin-left: 4%;
}
.logout{
  border-color: #ACACAC !important;
  color: #8A8A8A;
  width: 50% !important;
  border-radius:33px !important ;
  outline: none !important;
}
.profile-button{
    background-color: #01d35a !important;
    color: white !important;
    width: 100% !important;
    border-radius:33px !important ;
    margin-top: 15px;
    margin-bottom: 40px;

}
.profile-button2{
    border-color: #ACACAC !important;
    color: #8A8A8A;
    width: 100% !important;
    border-radius:33px !important ;
    margin-top: 15px;
    margin-bottom: 40px;

}
.lable2{
    margin-left: 53%;
}
.profile-row-align{
    margin-top: 50px;
}
.patient-id{
    font-size: 22px;
    color: #3D3D3D;
    font-weight: 500px;
}
.model-button2{
    width: 100%;
    background-color: #01d35a !important;
    color: white  !important ;
    border-radius: 40px !important;
    outline: none !important;
    margin-top: 30px ;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .btn-file {
    border: 1px solid gray !;
    color: gray;
    background-color: white;
    padding: 5px  15px;
    border-radius: 20px !important;
    font-size: 18px;
    width:100%;
  }
 .input-uploader{
  margin-left: 17%;
}
  .uploader-button{
      background-color: #01D35A;
      color: white;
    margin-left: 30%;
      outline: none;
      border: 1px solid white ;
      width: 42%;
      height: 40px;
      border-radius: 42px !important;
      margin-top: 3%;
      
  }
  .btn-uploader{
    margin-top: 72px;
    width: 37%;
    border-radius: 42px!important;
    margin-left: 30%;
    border: 1px solid grey !important;
}
  .report-uploader{
      font-size: 22px;
      margin-top: 13%;
      margin-bottom: 3%;
  }
  .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .viewFile{
      padding-top: 30px;
  }

  .fileContainer{
    list-style: none;
    padding-left: 7%;
    margin-top: 5%;
    height: 400px;
    overflow-y: scroll;
  }

  .fileHeading{
      padding-left: 37%;
      padding-top: 10%;
  }

  .pg-viewer-wrapper{
        height: 350px !important;
        /* padding-left: 20%  !important; */
        width: 104% !important;
        /* padding-top: 20px !important; */
        /* border-color: #3D3D3D !important; */
  }


  .pdf-controlls-container{
      display : none !important
  }
  .pdfContainer{
    border: 1px solid #D1D1D1 !important;
    border-radius: 2px !important;
    margin-left: 20% !important;
  }
  .fileList{
      padding: 5%;
      width: 50%;
      display: inline-block;
    }
    .selectSpeciality{
        width: 98%;
        padding-left: 2%;
    }