
.plockr-app-login{
    font-size: 20px;
    margin-bottom: 7%;
}
.plockr-app-form{
    border: none !important;
    border-bottom: 1px solid #ACACAC !important;
    border-radius: 0px !important;
}
.form-control-app{
    display: block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;  
    
}
.plockrapp-button{
    background-color: #01d35a !important;
    color: white !important;
    width: 70% !important;
    border-radius:33px !important ;
    margin-top: 15px;
    outline:none !important;
}
.plockrapp-button:focus{
    outline:none !important;
    box-shadow: unset !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.row-align{
    margin-top: 13%;
}
.col-align{
    margin-left: 4%;
}
.logout{
  border-color: #ACACAC !important;
  color: #8A8A8A;
  width: 70% !important;
  border-radius:33px !important ;
  margin-top: 27px;
  outline: none !important;
}
.profile-button{
    background-color: #01d35a !important;
    color: white !important;
    width: 48% !important;
    border-radius:33px !important ;
    margin-top: 15px;
    margin-bottom: 40px;

}
.profile-button2{
    border-color: #ACACAC !important;
    color: #8A8A8A;
    width:48% !important;
    border-radius:33px !important ;
    margin-left:4%;
    margin-top: 15px;
    margin-bottom: 40px;

}
.lable2{
    margin-left: 53%;
}
.profile-row-align{
    margin-top: 50px;
}
.patient-id{
    font-size: 22px;
    color: #3D3D3D;
    font-weight: 500px;
}
.model-button2{
    width: 100%;
    background-color: #01d35a !important;
    color: white  !important ;
    border-radius: 40px !important;
    outline: none !important;
    margin-top: 30px ;
   

}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .btn-file {
    border: 1px solid gray !;
    color: gray;
    background-color: white;
    padding: 5px  15px;
    border-radius: 20px !important;
    font-size: 18px;
    width:20%;
  }
  
  .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  