.signUpText{
    font-size: 1.5rem;
    margin-top: 65px;
    padding-left: 14px;
    margin-bottom: 20px;
}
.buttonSignUp{
    padding-top: 10px;
    /* height: 10px !important; */
    /* height: 40px !important; */
}
.btn-block{
    border-radius: 44px !important;
   
    height: 40px !important;
    width: 123% !important;
    
}
@media(max-width: 576px){

    .signImage{
    
      width:390px !important;
    }
}