 @font-face {
    font-family:'proxima';
    src:url(../../proxima.otf);
    font-style: "normal";
    font-weight: 500;
  } 
  @media  (max-width: 576px) {
    .btn.bg-blue-ui.white.read{margin-left:45px;}
.h1, h1 {font-size: 1.2rem;
    font-weight: 300;}

.h3,h3{    font-size: 1.0rem}

.ftr{    height: 40px;
    width: 40px;
    margin-top: 15px !important;
    margin-left: 221px; 
  
  }
  .navbar-toggler{
    width: 15% !important;
  }
  .owl-prev {
    width: 56px !important;
    outline: none !important;
  }
  .footerfont{
    
    font-size: 15px !important;
    margin-right: 47px !important;
    padding-top: 6px !important;
  }
  
  .owl-next{
    width:45px ;
    outline: none !important;
    right: 20px;

  }

  .searchDropdown {
    height: 200px;
    position: relative;
    left: 13px;
    overflow-y: auto;
    border-radius: 15px !important;
    border: 1.5px solid #01d35a;
    width: 340px !important;
    margin-top: 10px;
    bottom: 160px;
}
.selectedProceduresList {
  border: 1.5px solid #e4e4e4;
  width: 368px !important;
  position: relative;
  left: 13px;
  margin-top: 23px;
  margin-bottom: 15px;
  border-radius: 15px !important;
  bottom: 145px;
}


    .ftr1{
        height: 40px;
        width: 40px;
        
        margin-left: 6px;
    }
    .h11{
            font-size: 24px !important;
            font-weight: 400;
            width: 105%;
    }

.ftr2{
    height: 40px;
    width: 40px;
    margin-top: -61px !important;
    margin-left: 175px;
}
.ftr3{
    margin-left: 179px !important;
    margin-top: -55px !important;
}
    .header{
        
           text-align: center;
    width: 99% !important;
    display: block;
    margin: auto;
    font-size: 26px;
    color: #343434;
    font-weight: 500;
    margin-top: 140px; 
        
    }  


    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-clip: border-box;
      border-radius: .25rem;
      width: 95% !important;
      margin-left: 23px !important;
      padding-left: 0px !important;
  }
    
    
    
    
    input[type=text] {
    
    box-sizing: border-box;
    border: 2px solid #01d35a;
    border-radius: 40px;
    font-size: 16px;
    background-color: white;
    background-image: url(/search.png);
    background-position: 95%;
    background-repeat: no-repeat;
    padding: 14px 55px 12px 9px !important;
    outline: none;
    margin-left: 17px;
    width: 100% !important;
        margin-top: 11px;
        background-size: 27px 27px !important;
    
    margin-right: 150px;
}
     
    .nav33{
    
      
    width: 93% !important;
        padding-left: 80px !important;
   text-align: left !important;
}


.nav33{
    
        display: block;
    text-align: center;
    padding: 5px;
    color: white !important;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 14px;
    width: 197px;
    height: 34px;
}

.navbar-nav .nav-link{
      width: 89% !important;
        padding-left: 44px;
    margin-left: 23px;
    margin-top: 10px;
}
    .footer-pic{
        height: 65px;
    width: 60px;
    margin-top: -7px !important;
    margin-right: 50px;
    }
    
 
      p {
        margin-top: 0;
        margin-bottom: 1rem;
            font-size: 13px}
        
        
        .carousel-text{
            text-align: center;
            margin-bottom: 20px;
            font-size: 13px;
        }
        .navbar-nav{
          margin-top: 10px;
        }

  
    p {
    margin-top: 0;
    margin-bottom: 1rem;
        font-size: 13px}
    
  
    
    .searchDropdown {
      height: 200px;
      position: relative;
      left: 18px;
      overflow-y: auto;
      border-radius: 15px !important;
      border: 1.5px solid #01d35a;
      width: 324px;
      margin-top: 10px;
      bottom: 160px;

    }
    .nav2 nav3{
      width: 94% !important;
    }

    
}

/* mediaquery done */

 
  .carousel-header{
  
    text-align: center !important;
  }
  .card{
       border: none;
       width: 70%;
      padding-left: 105px;
      margin-left: 122px;
      background-color: #f2f2f2 !important;
      margin-bottom: 48px;
      margin-top: 0px;
    } 
  
  .cardItemsRow
  {
    
    padding-top: 55px;
       
    margin-bottom:100px;
  }

  .container-fluid{

    box-shadow: 0px 0px 6px #00000029;
  }
  .header 
  {
    text-align:center;
     width: 42%; 
     display: block; 
     margin: auto ;
     font-size: 26px;
     color: #343434;
     font-weight: 500;
    padding-top: 100px;
  }
  
  .logo
    {
     width:10%;
    }
  
  
  
  
  
  a {
      color:gray !important;
      
  }
  .box1{
      padding:10px 0px 10px 35px;
      width: 100%;
      height: auto;
      overflow: hidden;
  }
  
  .nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  .nav2 {
    float: right;
    
  }
  
  .nav2 .nav3 {
    display: block;
    text-align: center;
    padding: 4px 18px;
    color: #707070 !important;
    text-decoration: none;
    border: 1px solid #707070;
    border-radius: 40px;
    margin-left: 20px;
    font-size: 14px;
    height: 31px;
    width: 90%;
  }
  
  .nav33 {
    display: block;
    text-align: center;
    padding: 5px ;
    color:white !important;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 14px;
    width: 197px;
      height: 34px;
  }
  .nav333
  {
    
  position: relative;
  bottom: 2px;
  }
  
  
  @media (max-width: 767px){
  .nav2 {
      float: right;
      margin-bottom: 15px;
  }}
  
  
  .nav2 .nav3:hover {
    background-color: #01de5a;
      color: #fff;
      border-color: #01de5a;
  }
  .box2{
      padding-right:55px;
  }
  input[type=text] {
      width: 90% !important;
      box-sizing: border-box;
      border: 1.5px solid #01d35a;
      border-radius: 40px;
      font-size: 16px;
      background-color: white !important;
      background-image: url("/search.png");
      background-position: 94%;
      background-repeat: no-repeat;
      padding:24px 20px 24px 25px;
      outline: none;
      margin-top: 11px;
      background-size: 27px 27px;
      margin-bottom: 170px;
      
  }

  
  
  
  .form-control:focus{
    outline:none !important;

  }
  
  .h1 {
      font-size: 2.2rem;
      font-weight: 300;
      margin-top: 85px;
  
  }
  .h11{
    font-size: 35px !important;
    font-weight: 500;
    margin-top: 210px;
     font-size: 35px;
    color: #343434;
    margin-bottom: 12px;
  }
  .services
  {
      list-style-type:none;
      font-size:16px;
      font-family:Proxima;
      text-align:left;
      padding-inline-start: 0;
      
      
  }
  
  
  
  .col-md-4{
      padding-bottom:20px;
  }
  
  .white {
    color: #fff !important;
  }
  .mt{float: left;margin-top: -20px;padding-top: 20px;
  
  text-align: left;
  
  
  }
  .bg-blue-ui {
    background-color:  #01d35a !important;
      border-radius: 40px;
  }
  
  figure img{width:300px;
  }
  
  #blog {
    padding-bottom: 100px;
  }
  
  .blog .carousel-indicators {
    left: 0;
    
  }
  .footer-pic img{
      height:65px;
      width:60px ;
      margin-top:-7px ;
  }
  
  
  .main-content {
    position: relative;
  }
  .main-content .owl-theme .custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }
  .main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 50px;
    color: inherit;
    background-color: #f2f2f2;
    border: none;
    z-index: 100;
    /* right: 10px; */
    /* width: 50%; */
  }
  .main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
    outline: none !important;
  }
  .main-content .owl-theme .custom-nav .owl-prev {
    left: 0;
    outline: none !important;
  }
  .main-content .owl-theme .custom-nav .owl-next {
    right: 0;
    outline: none !important;
  }
  
  
  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 17px;
    height: 0px;
  }
  
  .blog .carousel-indicators .active {
    background: #0fc9af;
  }
  
  
  
  
  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }
  
  .item-box-blog {
   
    
    z-index: 4;
    padding: 40px;
  }
  
  .item-box-blog-image {
    position: relative;
  }
  
  .item-box-blog-image figure img {
    width: 60%;
    height: auto;
    object-fit:cover;
        display: block;
      margin: 0 auto;
  }
  
  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
  }
  
  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
    font-size: 18px;
  }
  
  .item-box-blog-date span.day {
    font-size: 16px;
  }
  
  .item-box-blog-body {
    padding: 10px;
    padding-left: 90px;
  }
  
  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }
  
  .item-box-blog-heading a {
      text-decoration: none;
  }
  
  .item-box-blog-data p {
    font-size: 13px;
  }
  
  .item-box-blog-data p i {
    font-size: 12px;
  }
  
  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
        text-align: left;
  }
  
  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
    text-align:left !important;
    
  }
  
  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }
  
      
  .owl-stage-outer{
    overflow:  hidden !important;
  }
  
  .k{
    margin-left: 25px;
    font-size: 11px;
    margin-top: 8px;
  }
  .b{
    
  background-color: transparent !important;
          box-shadow: 0px 0px 3px 0px #888888;
  }
  
  ._app{
  
    background-color: #41cb52;
  }
  
  .carousel-text{
  
    text-align: center;
    margin-bottom: 20px;
  }
  .button-view
  
  {
    background-color: #01d35a !important;
    border-color: #01d35a !important;
    border-radius: 25px !important;
    width: 130px;
    color:white !important;
  }
  
  
  
  .search{
    position: absolute !important;
    top: 344px;
    right: 530px;
    
    
    }
    .imgpd{
   position: absolute;
     top:650px;
     right:11px;
  
    }
    .imgpdr{
      position: absolute;
      top: 650px;
      left:11px ;
    }
    
  
    h5{
      text-align: left !important;
    }
    .ftr{height:35px;width:35px;margin-top:15px;
    
      margin-right: 6px;
    
    }
    .ftr1{height:35px;width:35px;margin-top: 15px;
    
      margin-right: 6px;
    }
    .ftr2{height:35px;width:35px;margin-top: 15px;
      
    }
    .ftr3{
      margin-left:3px;
      margin-top: 40px;
    }
    .footer{
      padding-top: 0px;
      margin-top: -24px;
    }
    .footerfont{
      font-family: proxima;
      font-size:14px ;
    }
    .footerele{
      font-size: 13px;
      margin-top:14px
    }
    
    .footerlast{
      font-family: proxima;
      margin-top: 25px !important;
        margin-bottom: 50px !important;
        font-size: 13px;
        
    }
    .carousel-item1{
      background-color:white;display: block;margin: 0 auto ;font-size:46px;
            
    }
  
  
  
  
  
  
  
  
  
  /*the container must be positioned relative:*/
     .autocomplete {
    position: relative;
    display: inline-block;
  
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 68px;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
      text-align: left;
      margin-bottom: -16px;
  }
  
  /*when hovering an item:*/
  /*
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  */
  
  /*when navigating through the items using the arrow keys:*/
  /*
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  */
  
  .form-control:focus{box-shadow:none !important;border-color:#01d35a !important;}
  
  @media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      
  }
      input[type=text] {
       width: 570px !important;   
      }
  }
  
.logo{
    margin-top: 20px;
}
.procedureListClass{
    /* float : left; */
    margin-top: 15px;
}
.selectedProceduresList{
     border: 1.5px solid #e4e4e4;
     /* height : 150px; */
     width: 555px;
     position: relative;
     left: 13px;
     margin-top: 23px;
     margin-bottom : 15px;
     border-radius : 15px !important;
     bottom: 145px;
}
.proceedButton{
    /* position: relative; */
    position: relative;
    /* top: 80px; */
    /* left: -300%; */
    top: 10px;
    left: 220px;
    height: 35px;
    border-radius: 20px !important;
    width: 300px;
}
.searchDropdown{
    height: 200px;
    position: relative;
    left: 13px;
    overflow-y: auto;
    border-radius : 15px !important;
    border: 1.5px solid #01d35a;
    width: 559px;
    margin-top: 10px;
     bottom:  160px;
}

.signupButton{
    width:180px;
    height:40px;
}

.btn-outline-transparent{
    border-radius: 11px !important;
}

.horizontal-menu{
 width: 1000px;

}

#demo{
    width: 1000px;
    margin-top: 50px;

}

.carousel-inner  {
    left: 100px;

    /* width: 100%; */
    /* height: 100%; */
  }

 .carousel-control-prev{
     /* background-color: #01d35a */
     /* left: 200%; */
     left: -87px !important;

 }

 .carousel-control-next{
    /* background-color: #01d35a */
    left: 104%;

}

.viewMoreButton{
    background-color: #01d35a;
    color: #ffffff;
    height: 35px;
    width: 130px;
    border: none;
    border-radius: 111px !important;

}
/* .scrollComponent{
    width: 100px;
} */

.downloadButton{
    border-color: white !important;
    height: 35px !important;
    margin-top: 28px !important;
    width: 25% !important;
    margin-left: 30px !important;
    margin-right: 15px !important;
    border-radius: 40px !important;

    /* padding-bottom : 20px  !important;  */

}

.hrClass{
margin-top: 70px !important
}

.btn-outline-primary {
    color: #848484 !important;
    border-color: #848484 !important;
    height : 30px !important;
    border-radius: 70px solid !important;

}
.btn-outline-primary:hover {
    outline: #01d35a !important;
}

.btn-success{
    background-color: #01d35a !important;
    outline: none !important;
    border-color: none;
    top: -135px;
     left: 5px;
}

.headerDetail{
    margin-top: 15px;
    display: flex;
    padding: 15px;
    font-size: 20px;
    color: #5C5C5C;
}

.medicalProcedures{
    position: relative;
    left: 100px;
}
.topRightHeader{
    position: relative;
    left: 188px;
}

.navButton{
    width: 20%;
    margin: 15px;
    height: 32px !important;
    margin-top: 30px;
    margin-left: 8px;
    border: 1px solid #b8b8b8 !important;
    border-radius: 22px !important;

}
.navButton:hover{
    background-color: #01d35a !important;
    color: white !important;
    outline: #01d35a !important;
}
.linkClass{
    color: black;
    position: relative;
    /* margin-bottom: 10px; */
    top: -3px;
}
.linkClass:hover{
    color:white
}
.discountHeading{
    font-size: 31px;
    position: relative;
    left: 265px;
    color: #343434;
}

.headingFooter{
    font-size: 16px;
    color:#343434
}

.icon{
padding-right: 10px;
}
.footer-margin{

  margin-top: 18px;
}
.footer-margin2{
  margin-top: -12px;

}

.cardRow 
{
    margin-top: 5%;
    width: 100%;
}

.arrowClass{
    padding-top: 12%;
    position: relative !important;
    left: -10px;
}

.card{
    border: none !important;
    
    
}

.card-title{
    font-size: 22px;
    color: #343434;
}
.card-text{
    color: #727272;
    font-size: 20px !important;
}
.landingTopRow{
    margin-top: 60px;
    position: relative;
}
.landingCenterHeading{
    font-size: 35px;
    color: #343434;
    padding-left: 12%;

}

.dentistClass{
    height: 313px !important;
    width:350px !important;
}
.orthopedicsClass{
    height: 313px !important;
    width:328px !important;
}

.landingCentre{
    /* background-color: #8C8C8C; */
    margin-top: 8%;
}
.card-img-top{
    
    height: 250px;
    width: 270px !important;
    margin-top: 23px;
    margin-left: 10px;

}

.hr{
    margin-top: 3rem !important;
}

.landingFooter{
    margin-top: 5%;
    margin-bottom: 0%;
}
footer{
    margin-left: 30%;
    margin-top: 15px;
}

.viewMore{
    background-color: #01d35a !important;
    border-color: white !important;
    border-radius: 111px  !important;

}


.searchBar{
    border-color: 1px solid #5C5C5C
}

.loginInput{
    border: 0;
    outline: 0;
    border-bottom: 2px solid #5C5C5C;
    width: 400px;
    height: 75px;
    padding-top: 30px;
}
.rowButton{
    padding-top: 40px;
    margin:0;
}
.loginButton{
    width:180px;
    height:40px;
}

.searchInput{
    margin-top: 20px;
    margin-left: 87px;
    height: 53px;
    width: 80%;
    border: 1.5px solid #01d35a;
    border-radius: 27px;
    font-size: 19px;
    padding-left: 25px;
    padding-right: 90px;
}
.searchInput:focus{
  outline: none !important;
}

.searchImage{
    position: relative;
    top: 34px;
    right: 53px;
    /* margin-top: 32px;
    margin-left: -50px; */
}
.signUp{
    /* background-color: #5C5C5C; */
    position: relative;
    
}
.signUpContainer{
    padding-top: 100px;
}
.form{
    padding-top: 40px;
}
.buttonSignUp{
    padding-top: 10px;
    /* height: 50px; */
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  i {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .backButton{
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-top: 10px;
  }
  .container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  /* @media only screen and (max-width: 500px) {
    [class*="col-"] {
      width: 100%;
    }
    body{
        background-color: aqua;
    }
  }  */

.a{
  color :grey !important;
}
.footer-pic2
{
  height:65px ;
  width:60px;
   margin-Top:-6px ;
  margin-Left:1px ;
   margin-Right : 11px;
  
  }
  .text-center{
    margin-top: -20px;
  }