@media(max-width:576px){
    .dashbord-input {
        border-radius: 35px;
        outline: none;
        background-color: white;
        border: 1px solid #707070;
        height: 27px !important;
        width: 196px !important;
        background-image: url(/search.png);
        background-position-x: 1px;
        background-position-y: 1px;
        background-position: 93%;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        margin-left: 1px !important;
    }
    .logo{
          margin-left: 1px !important;
         }
} 
 .dashbord-input
{
    border-radius: 35px;
    outline: none;
    background-color: white;
    border: 1px solid #707070;
    height: 33px;
    width: 310px;
    background-image: url(/search.png);
    background-position-x: 1px;
    background-position-y: 1px;
    background-position: 93%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    margin-left: 185px;
}
.logo{
    
margin-left: 30px;
height:52px;
width: 130px;

margin-top:-7px;

}
.sol-img{
height: 35px;
width: 35px !important;
}
.nav2{
    font-size: 12px;
}
.sol-img2{
    height: 35px;
    width: 35px;
    
    margin-right: 11px;
    
    }
    .sol-img3{
        height: 35px;
        width: 35px !important;   
    }
    .navbar-collapse{
        margin-right: 75px;
    }
    .dropdown-align{
    width: 110%;
    outline: none ;
    margin-left: -5%;
    background-color: white !important;
    color:  grey !important;
    font-size: 12px !important;
    padding: 8px 8px !important;
}
    .dropdown-align:focus{
      box-shadow: none !important;  
    }     
    .profile-font{
      font-size: 12px !important; 
      
    }
    .dash-dropdown{
        width: 22px;
        height: auto;
        margin-left: 15px;
    }