@media only screen and (max-width: 768px) and (min-width: 320px){

    .plunes-is{
        margin-top: 20px !important;
        margin-left: 15px !important;
        font-size: 15px !important;
    }
    .our-i{
        margin-top: -40px !important;
        margin-left: 15px !important;
        font-size: 15px !important;
    }
    .aboutus-align{
        margin-bottom: -15% !important;
    }
}
.plunes-is{
    color: #717171;
    font-size: 15px;
    margin-top: -5px;
   
}

.about-us{
    margin-top: 70px;
}
.aboutus-align{
    margin-bottom: -2%;
}