@media only screen and (max-width: 768px) and (min-width: 320px){
.card-blog{
    margin-left: -3px !important;
    margin-right: -3px !important ;
}
.blog-button{
    margin-left: 28% !important;
}

.blog-front-img{
    margin-top: 14% !important;
}
.blog-header{
    margin-top: 40px !important;
}
}
.card-blog{
    margin-left: 40px;
    margin-right: 40px;
}
.blog-button{
    margin-left: 32%;
  
    background-color: #01d35a !important;
    border-color: #01d35a !important;
    border-radius: 25px !important;
    width: 140px;
    height: 37px;
    color:white !important;
    
    margin-top: 20px;

} 
.blog-img{
    width: 80% !important;
  margin-left: 10% !important;
}
.blog-front-img{
    width: 100%;
    margin-top: 3%;
}
.blog-header{
    font-size: 30px;
    margin-top: 120px;
}