@media only screen and (max-width: 768px) and (min-width: 320px){

    .career-img{
        width: 300px !important;
    }
.career-pera{
    margin-left: 15px;
    margin-top: 1px !important;

}
.table{
    width: 99% !important;
}
.career-button{
    margin-left:30% !important;
}

.box{
    width: 90% !important;
}
.box2{
    width: 130% !important;
}
.img-font{
    margin-left: -8% !important;
}
.grid-box-3{
    margin-top: 0px !important;
}


.we-believe{
    margin-left: 15px;
    margin-top: 50px !important;
}
.we-believe-in{
    margin-left: 15px;
}
.what-we-have{
    margin-top: -25px !important;
}
.careers-grid2{
    margin-left: -40px !important;
}
.ploker-header{
    font-size: 27px !important;
}
.if-u{
    margin-left: 15px !important;
}
.table{
    margin-left: 0px !important;
    
   
}
.career-header{
    font-size: 25px !important;
}

}


.career-img{
    width: 600px;
}
.we-believe{
    font-size: 25px;
    margin-top:95px;
}
.we-believe-in{
    font-size: 18px;
    
}
.career-pera{
    font-size: 16px;
    color: #717171;
    margin-top: 32px;
}
.img-width{
    width:70px;
    margin-left: 35%;
}
.img-font{

    
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
}
.what-we-have {
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: -10px;
}
.career-grid{
    margin-top: 80px;
}
.careers-grid2{
    margin-top: 80px;
}
.careers-content{
    color: #717171;
    text-align: center;
    font-size: 14px;
}
.img-width2{
    width:70px;
    margin-left: 80px;
   
}

.box{
    width: 200px;
    height: 200px;
    border: 1px solid #C1C1C1;
  }
  .box2{
    width: 200px;
    height: 200px;
    border: 1px solid #C1C1C1;
  }
  .career-button{
    background-color: #01d35a !important;
    border-color: #01d35a !important;
    border-radius: 40px !important;
    width: 140px;
    height: 37px;
    color:white !important;
    margin-left: 14% ;
    margin-top: 20px;

  }
  .careers-button{
    background-color: #01d35a !important;
    border-color: #01d35a !important;
    border-radius: 40px !important;
    width: 140px;
    height: 37px;
    color:white !important;
    margin-left: 42% !important;
    margin-top: 20px;

  }
  .box-text{
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
      margin-left: 3%;
  }
  .box-content{
      font-size: 16px ;
      color: #717171;
      text-align: center;
      margin-left: 3%;
  }
  .careers-grid3{
    margin-top:5%;
    margin-left: 8% !important;
}
.box-align{
    margin-top: 30px;
}
.if-u{
    color: #717171;
    font-size: 21px;
   
}
.table-button{
    background-color: #01d35a !important;
    border-color: #01d35a !important;
    border-radius: 25px !important;
    width: 140px;
    height: 37px;
    color:white !important;
    margin-left: 28px;
    margin-top: 3px;



}
.table-career{
    width: 25%;
    background-color: #f7f7f7;
    
}

.career-header{
    font-size: 27px;
    margin-top: 40px;
    margin-bottom: -10px;
}
.flex-container{
    display:flex;
    flex-direction: column;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
}
.grid-box-3{
    margin-top: 25px;
}
.grid-box-align{
    margin-left: 5%;
}