.key-benefits{
margin-top: 8%;
font-size: 32px;
margin-left: 9%;
}
.dentalcompli-img{
    width:75%;
    height:300px;
    margin-bottom: 15px;
    margin-top: 4%;
    margin-left: 21%;
}
.dental-problem{
    font-size: 16px;
    margin-top: 3%;
    color: #717171;
}
.tooth-font{
    font-size:22px;
    margin-top:10px;
}
.tooth-decay-font{
    font-size: 16px;
   
    color: #717171;
   
    
}

.dental-margin{
    margin-bottom: -3%;
}
@media only screen and (max-width: 768px) and (min-width: 320px){
    .dentalcompli-img{
       width: 91%;
       height: auto;
       margin-left: 5%;

    }
    .key-benefits{
        font-size: 24px !important;
        margin-top: 23%;
    }
    .dental-problem{
        margin-left: 15px !important;
    }
    .tooth-decay-font{
        margin-left: 15px !important;
    }





}
