@media only screen and (max-width: 768px) and (min-width: 320px){
.welcome-to{
    margin-top: -15px !important;
    margin-left: 11px !important;
}
.EMR{
    margin-left: 15px !important;
}
.button-plockr{
    margin-left: 15px !important;
    width: 308px !important;
}
.ploker-align{
    margin-bottom: 20% !important;
}



}
.welcome-to{
    font-size: 22px;
}
.EMR{
    font-size: 15px;
    color: #8A8A8A;
    margin-top: 35px;
}
.button-plockr{
    background-color: #01d35a !important;
    border-color: #01d35a !important;
   border-radius: 0px !important;
    width: 330px;
    color: white !important;
    margin-top: 13px;
   
}
.plockr-img{
    width: 400px;
    margin-left: 35px;
}
.plockr-align{
    margin-top: 45px;
    margin-bottom: 5%;
}
.ploker-header{
    font-size: 30px;
    margin-top: 120px;
}
