.what-is-it{
    font-size:22px;
    margin-top:10px; 
    margin-left: -12%;  
}
@media only screen and (max-width: 768px) and (min-width: 320px){
    .what-is-it{
        margin-left: 15px !important;
    }
    .tooth-font{
        margin-left: 15px;
    }


}