
.card-blog{
    margin-left: 40px;
    margin-right: 40px;
}
.blog-button{
    margin-left: 32%;
  
    background-color: #01d35a !important;
    border-color: #01d35a !important;
    border-radius: 25px !important;
    width: 140px;
    height: 37px;
    color:white !important;
} 
.blog-img{
    width: 80% !important;
  margin-left: 10% !important;
}
.blog-front-img{
    width: 100%;
    margin-top: 5%;
    height: 400px;
}
.card-title{
    width: 98%;
}

.blog-header{
    font-size: 30px;
    margin-top: 80px;
}
.blog-card-align{
    margin-left: 50px;
}
.card-text
{
    font-size: 15px !important;
    margin-top: 11px;
    color: #8A8A8A;
    
}
.newblog{
    margin-top: 5%;
}
.blog-margin{
    margin-bottom: -5%;
}
@media only screen and (max-width: 768px) and (min-width: 320px){
    .card-blog{
        margin-left: -3px !important;
        margin-right: -3px !important ;
    }
    .blog-button{
        margin-left: 28% !important;
    }
    .blog-margin{
        margin-bottom: -18% !important;
    }
    
    .blog-front-img{
        margin-top: 21% !important;
        height: 150px !important;
    }
    .blog-header{
        margin-top: 40px !important;
    }
    }