@font-face {
    font-family:'proxima';
    src:url(../../proxima.otf);
    font-style: "normal";
    font-weight: 500;
  }
@media(max-width: 576px){

.loginImage{

  width:390px !important;
}




}


  .box1{
      
      padding:10px 0px 10px 35px;
      width: 100%;
      height: auto;
      overflow: hidden;
  }
  ._app{
  
    background-color: #41cb52;
  }
  
  .nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  .nav2 {
    float: right;
    
  }
  
  .nav2 .nav3 {
    display: block;
    text-align: center;
    padding: 3px 18px;
    color: #707070 !important;
    text-decoration: none;
    border: 1px solid #707070;
    border-radius: 40px;
    margin-left: 20px;
    font-size: 14px;
    height: 31px;
      padding-right: 18px !important;
      padding-left: 18px !important;
  }
  
  .nav33 {
    display: block;
    text-align: center;
    padding: 5px ;
    color:white !important;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 14px;
    width: 197px;
      height: 34px;
  }
  .nav333
  {
    
  position: relative;
  bottom: 2px;
  }
  @media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      }}
  @media (max-width: 767px){
  .nav2 {
      float: right;
      margin-bottom: 15px;
  }}
  
  
  .nav2 .nav3:hover {
    background-color: #01de5a;
      color: #fff;
      border-color: #01de5a;
  }
  .button-login{
      margin-top: 21px;
      width: 307px;
      text-transform: none;
      height: 38px;
      border-radius: 44px !important;
      background-color: #01de5a;
      border: thin;
      color: white;
       
  }
  .login-text{
      
      
      font-size: 1.5rem;
      margin-top: 150px;
      
  }
    
  .bg-light
  {
      background-color: white !important;
  }
  .inputLogin{

    margin: 0 !important;
    margin-top: 21px !important;
    
  }
  .forgotPassword{
padding-left: 97px;
  }
  .signupClass{

    font-size: 15px;
    padding-left: 55px;
    margin-top: 23px;
  }
  .form-control{
    width: 120% !important;
  }